.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
    height: fit-content;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
    width: 100%;
}

.card-text {
    margin: auto;
    font-size: 48px;
    color: blue;
}